.user-messages ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.user-messages {
  margin-top: 3px;
  padding: 0;
  max-height: 91vh;
}

.user-messages a {
  color: #75ace7;
}

.last-msg {
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  margin-top: -7px;
  font-size: 14px;
}

.chat-send textarea {
    max-height: 44px;
    margin-bottom: 5px;
    margin-left: -7px;
}

.user-messages ul li {
  display: inline-block;
  clear: both;
  padding: 5px;
  border-radius: 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 5px;
  font-size: 14px;
  padding: 10px;
}

.him {
  background: #eee;
  float: left;
}

.me {
  float: right;
  background: #888888;
  color: #fff;
}

.him+.me {
  border-bottom-right-radius: 5px;
}

.me+.me {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.me:last-of-type {
  border-bottom-right-radius: 30px;
}

.chat-avatar {
  border-bottom-color: rgb(106, 108, 111);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-collapse: collapse;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(106, 108, 111);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(106, 108, 111);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(106, 108, 111);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(106, 108, 111);
  display: inline;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 33px;
  line-height: 18.5714px;
  vertical-align: middle;
  width: 33px;
}

.animationload {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10000;
    margin-top: 48px;
    margin-bottom: 35px;
}

.osahanloading {
  animation: 1.5s linear 0s normal none infinite running osahanloading;
  background: #fed37f none repeat scroll 0 0;
  border-radius: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  top: 50%;
  width: 50px;
}

.osahanloading::after {
  animation: 1.5s linear 0s normal none infinite running osahanloading_after;
  border-color: #85d6de transparent;
  border-radius: 80px;
  border-style: solid;
  border-width: 10px;
  content: "";
  height: 80px;
  left: -15px;
  position: absolute;
  top: -15px;
  width: 80px;
}

@keyframes osahanloading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    background: #85d6de none repeat scroll 0 0;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div[role="log"] {
  background-color:#000;
  border:1px solid #fff;
  padding:10px 15px;
  width:200px;
  color:#fff;
  text-align:left;
  font-size:12px;

 -moz-box-shadow:0 0 10px #000;
 -webkit-box-shadow:0 0 10px #000;
}
