<div class="row mb-2 mt-2">
  <div class="col-sm-2 mt-2">
    <h6>Filter Students:</h6>
  </div>
  <div class="col-lg-3">
    <div class="input-group" ng-disabled="status">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
          By Class
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" ng-click="class=cls" ng-repeat="cls in classes">{{cls.r_start_date}}</a>
        </div>
      </div>
      <input type="text" class="form-control" ng-model="class.r_start_date" aria-label="Class start date">
    </div>
  </div>
  <div class="col-lg-3">
    <div class="input-group" ng-disabled="class">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          By Status
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" ng-repeat="class in classes">{{class.name}}</a>
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
  </div>
</div>
