<div class="row mb-2 mt-2">
  <div class="col-sm-2 mt-2">
    <h5>Filter Students:</h5>
  </div>
  <div class="col-sm-4 btn-group mt-2">
    <!-- <label class="btn btn-primary" ng-model="checkModel.class" uib-btn-checkbox>By Class</label>
    <label class="btn btn-primary" ng-model="checkModel.status" uib-btn-checkbox>By Status</label> -->
    <!-- <div class="switch">
      <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
      <label for="cmn-toggle-4"></label>
    </div> -->
    <div class="custom-switch">
      <input class="custom-switch-input" id="ADD_ID_HERE" type="checkbox">
      <label class="custom-switch-btn" for="ADD_ID_HERE"></label>
    </div>
  </div>
  <div class="col-sm-4 mt-2">
    <!-- <pre>Selected: {{checkModel}}</pre> -->
  </div>
</div>
