<div class="row">
  <div class="col-sm-12">
    <p>
      <h5 ng-show="!userDetails.u_email">Student Info</h5>
    </p>
    <p>
      <h5 ng-show="userDetails.u_fname">{{userDetails.u_fname}} {{userDetails.u_lname}}</h5>
    </p>
  </div>
  <div class="col-sm-12">
    <div class="row user-details" ng-show="userDetails.u_email">
      <div class="col-sm-12">
        <center style="max-height: 10vw;">
          <img ng-if="userDetails.u_image_url" class="chat-avatar" style="width: 10vw;height:auto; max-height: 10vw;" src="{{userDetails.u_image_url}}">
          <i ng-if="!userDetails.u_image_url" class="fa fa-5x fa-user-o" style="margin-left: -7px; margin-top: 3px;"></i>
        </center>
        <div class="row" style="line-height: 16px;">
          <div class="col-sm-12">
            <p>{{userDetails.u_email}}</p>
          </div>
          <div class="col-sm-12">
            <p>Country: {{userDetails.u_country_code}}</p>
          </div>
          <div class="col-sm-12">
            <p>Timezone: {{userDetails.u_timezone}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label style="margin-top: 8px;">Status:</label>
          </div>
          <div class="col-sm-9">
            <div class="dropdown" style="float:left">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{studentStatus.status}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" ng-click="changeStudentStatus(item)" ng-repeat="item in userStatuses">{{item.status}}</a>
              </div>
            </div>
            <div style="float: left; margin-top: 1px; margin-left: 8px;" ng-show="updating">
              <img src="/img/loading_apple.gif" style="width: 33px;">&nbsp;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" style="margin-top:7px; z-index: 5;">
            <center>
              <button class="btn btn-secondary" ng-show="userDetails.ru_application_survey" ng-click="getStudentApplicationAnswers(userDetails)">Application Answers</button>
            </center>
          </div>
          <div class="col-sm-12" ng-show="!userDetails.ru_application_survey">
            <span class="red">Application Not Completed Yet</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>