<div class="fill">
  <div class="row" ng-show="loading">
      <div class="container">
          <div class="row">
                <div class="animationload">
                    <div class="osahanloading"></div>
                </div>
          </div>
        </div>
  </div>
  <div class="row" style="margin-left:10px" ng-show="messages && messages.length == 0 && !loading">
    No Messages
  </div>

  <div class="row">
    <div class="col-sm-12 user-messages" id="user-messages" ng-show="!loading">
      <ul>
        <li ng-repeat="message in messages | reverse" class="{{message.e_type_id == 6 ? 'him' : 'me'}}">

          <img ng-if="message.e_type_id == 6"
          class="chat-avatar"
          src="{{selectedUser.u_image_url}}"
          data-toggle="tooltip" 
          title="{{renderTooltip(message)}}"
          >

          <img ng-if="message.e_type_id != 6"
          class="chat-avatar" style="float:right; margin-left:5px"
          src="{{instructorData.u_image_url}}"
          data-toggle="tooltip" 
          title="{{renderTooltip(message)}}"
          >



          <!-- {{message.e_message}} -->

          <span ng-bind-html="message.e_message | formatMsg"></span>

        </li>
      </ul>
    </div>
  </div>
</div>
