<div class="users-list fill">
  <div class="row">
    <div class="col-sm-12" style="margin-top:4px">
      <input type="text" ng-model="searchTerm" ng-keyup="search(searchTerm)" placeholder="Search .." class="form-control search-user" name="search">
    </div>
    <div class="col-sm-12" style="margin-top:4px">
      <filter></filter>
    </div>
  </div>
  <div class="row no-students" ng-show="!users || users.length == 0">
      No Students.
  </div>
  <div class="row user-row" ng-repeat="user in users"
    ng-click="userSelected(user)"
    style="padding: 5px; margin: 5px 0;cursor: pointer"
      ng-class="{'selected' : user.u_id == selectedUser.u_id}"
    >
    <div class="col-sm-12" user-id="{{user.u_id}}">
      <div class="row">
        <div class="col-sm-3">
          <img
          style="cursor:pointer;margin-left: -8px; margin-top: 1px;"
          class="chat-avatar" src="{{user.u_image_url}}" ng-click="userSelected(user)">
        </div>
        <div class="col-sm-9 mt-1">
          <span>
            <h6 ng-click="userSelected(user)">{{user.u_fname}} {{user.u_lname}}</h6>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
